.header{
    background-color: #fdb813;
    padding: 50PX;
    border-radius: 15px;
    margin-bottom: 30px;;
}

.header-text {
    text-align: justify;
    padding: 50px;
    
}

.header-text h1{
    font-size: 48px;
    font-weight:bolder
}

.logo {
    padding-top: 20px;
    width: 60%;
    margin-right: 20px;
}
